body { background: #f5f5f5; margin: 0; padding: 0; border-top: 5px solid #041b23; }
* { font-family: Tahoma; font-size: 11px; margin: 0; padding: 0; }

ul { list-style: none; }
ul li { float: left; }
a { text-decoration: none; }


#header { height: 110px; }
#footer { border-top: 1px solid #565656; margin-top: 5px; padding-top: 5px; text-align: right; }

.icons { background: url(../images/icons.png) no-repeat;}

.float-left, .fltlft { float: left; }
.float-right, .fltrgt { float: right; }
.clr, .clear { clear: both; }
.absolute { position: absolute; }
.relative { position: relative; }

.margin-5 { margin: 5px; }
.margin-top-bottom-5 { margin-top: 5px; margin-bottom: 5px; }
.margin-top-bottom-10 { margin-top: 10px; margin-bottom: 10px; }
.margin-right-10 { margin-right: 10px; }
.margin-right-15 { margin-right: 15px; }
.margin-right-20 { margin-right: 20px; }
.margin-top-10 { margin-top: 10px; }

.padding-5 { padding: 5px; }

.border-1 { border: 1px solid #CCC; }

.round-4-conners-5 {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#header #logo { width: 201px; height: 68px; margin-top: 25px; }

/* menu */
#top-menu { background: url('../images/bg-main-menu.png') repeat-x; height: 30px; line-height: 30px; }
#top-menu ul li { float: left; margin: 0  }
#top-menu ul li.active { background: url('../images/bg-left-menu-focus.png') no-repeat; padding-left: 13px; top: -7px; position: relative; height: 37px; line-height: 37px; }
#top-menu ul li.active a { display: block; background: url('../images/bg-right-menu-focus.png') right no-repeat; padding-left: 10px; padding-right: 20px; position: relative; height: 37px; line-height: 37px; }
#top-menu ul li a { color: #FFF; display: block;  }

#top-menu ul li:first-child, #top-menu ul li:first-child a { background: none; }

.news-featured { background-position: -4px -108px; height: 297px; width: 991px; margin-left: 5px;  }
.news-featured .left-panel { width: 430px; }
.news-featured .right-panel { width: 527px; }

.tab-button { background-position: -100px 0px; }

.left-side { width: 530px; }
.right-side { width: 452px; }

.tab { border-bottom: 2px solid #333; }
.tab span { background-position: -399px 0px; display: block; width: 105px; height: 25px; line-height: 35px; text-align: left; font-weight: bold; padding-left: 5px; }

.hr { border-bottom: 3px solid #333; }

.content img { border: 1px solid #CCC; }
.service img { width: 158px; height: 77px; }

.one-edge-shadow {
	-webkit-box-shadow: 0 8px 6px -6px #CCC;
	   -moz-box-shadow: 0 8px 6px -6px #CCC;
	        box-shadow: 0 8px 6px -6px #CCC;
}

ul.service { border: 1px solid #CCC; padding: 5px; margin-bottom: 10px; }
ul.service li { margin-right: 19px; }
ul.service li:last-child { margin-right: 0; }
ul.service li p { text-align: center; padding: 5px 0 10px 0; }
.service-content h2 { margin: 10px 0 10px 0; }

.content .content-detail {  }
.content .content-detail img { width: 207px; height: 119px; }
.content .content-detail > div { width: 209px; }

.image { width: 70px; height: 70px; margin-bottom: 20px; }
