body { background: #FFF; margin: 0; padding: 0; border-top: 5px solid #041b23; }
* { font-family: Tahoma; font-size: 11px; margin: 0; padding: 0; }

ul { list-style: none; }
a { text-decoration: none; }

#header { height: 110px; }
#footer { border-top: 1px solid #565656; margin-top: 5px; padding-top: 5px; text-align: right; }

.icons { background: url(../images/icons.png) no-repeat;}

.float-left, .fltlft { float: left; }
.float-right, .fltrgt { float: right; }
.clr, .clear { clear: both; }
.absolute { position: absolute; }
.relative { position: relative; }

.margin-5 { margin: 5px; }
.padding-5 { padding: 5px; }

#header #logo { width: 201px; height: 68px; margin-top: 25px; }

/* menu */
#top-menu { background: url('../images/bg-main-menu.png') repeat-x; height: 30px; line-height: 30px; }
#top-menu ul li { float: left; margin: 0  }
#top-menu ul li.active { background: url('../images/bg-left-menu-focus.png') no-repeat; padding-left: 13px; top: -7px; position: relative; height: 37px; line-height: 37px; }
#top-menu ul li.active a { display: block; background: url('../images/bg-right-menu-focus.png') right no-repeat; padding-left: 10px; padding-right: 20px; position: relative; height: 37px; line-height: 37px; }
#top-menu ul li a { color: #FFF; display: block;  }

#top-menu ul li:first-child, #top-menu ul li:first-child a { background: none; }

.news-featured { background-position: -4px -108px; height: 288px; width: 991px; margin-left: 5px;  }